
<div dir="rtl" style="width: 100%; font-size:9px;">
    <div style="display: flex; width: 100%; padding: 10px 10px 50px 10px">
        <div style="flex:1; text-align: center">
            مراجع
        </div>
        <div style="flex:1; text-align: center">
            رئيس المراجعة
        </div>
        <div style="flex:1; text-align: center">
            مدير المالية
        </div>
        <div style="flex:1; text-align: center">
            يعتمد
        </div>
    </div>
</div>

