
<div dir="rtl" style="width: 100%; font-size:9px;">
    <div style="display: flex; width: 100%; padding: 10px 10px 50px 10px">
        <div style="flex:1; text-align: center">
            مهندس العملية
        </div>
        <div style="flex:1; text-align: center">
            مدير المشروع
        </div>
        <div style="flex:1; text-align: center">
            مهندس الجهاز
        </div>
        <div style="flex:1; text-align: center">
            مدير التنفيذ
        </div>
        <div style="flex:1; text-align: center">
            المكتب الفني
        </div>
        <div style="flex:1; text-align: center">
            مدير المكتب الفني
        </div>
        <div style="flex:1; text-align: center">
            نائب رئيس الجهاز
        </div>
        <div style="flex:1; text-align: center">
            رئيس الجهاز
        </div>
    </div>
    <div style="text-align:center; font-size:8px;">
        ﻿ <span class="pageNumber"></span>&nbsp;\&nbsp;<span class="totalPages"></span>
    </div>
</div>

