@using NUCA.Projects.Application.Statements.Models;
@using System.Globalization;
@using NUCA.Projects.Domain.Entities.Statements;
@using NUCA.Projects.Shared.Util;

@{
    <thead>
    <tr>
        <th class="fw-bold  text-center">
            <div class="text-center">
                م
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                بيان الأعمال
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                الوحدة
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                الكمية بالمقايسة
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                سعر الوحدة
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                قيمة الأعمال
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                كمية الأعمال <br />
                السابقة
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                كمية الأعمال <br />
                خلال المدة
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                إجمالي كمية الأعمال
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                قيمة جملة الأعمال
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                نسبة الصرف
            </div>
        </th>
        <th class="fw-bold">
            <div class="text-center">
                صافي المستحق صرفه
            </div>
        </th>
    </tr>
    </thead>
}
