@using NUCA.Projects.Application.Statements.Models;
@using NUCA.Projects.Shared.Util;

@{
    <div style="display: flex; font-size:10px; width: 100%; padding: 10px 30px" dir="rtl">
        <div style="text-align: center">
            <div>وزارة الإسكان والمرافق والمجتمعات العمرانية</div>
            <div>هيئة المجتمعات العمرانية الجديدة</div>
        </div>
    </div>

}
