@using NUCA.Projects.Application.Statements.Models;
@using System.Globalization;
@using NUCA.Projects.Shared.Util;

@model PrintStatementModel
@{
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            .text-center {
                text-align: center;
            }

            .py {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            th, td {
                border: 0.2px solid #555;
                padding: 0px 5px;
            }

            table {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div dir="ltr">@Html.Raw("{{{pdfCreatePagesGroup \"الأعمال\"}}}")</div>
        <div dir="rtl">
            <div>
                @foreach (var table in Model.Statement.WorksTables)
                {
                    <table cellspacing="0">
                        @await Html.PartialAsync("StatementTable", table)
                    </table>
                    <div style='page-break-before:always;' />
                }
            </div>
        </div>
        <div dir="ltr">@Html.Raw("{{{pdfCreatePagesGroup \"التشوينات\"}}}")</div>
        <div dir="rtl">
            <div>
                @foreach (var table in Model.Statement.SuppliesTables)
                {
                    <table cellspacing="0">
                        @await Html.PartialAsync("StatementTable", table)
                    </table>
                    @if (table != Model.Statement.SuppliesTables.Last())
                    {
                        <div style='page-break-before:always;' />
                    }
                }
            </div>
        </div>
    </body>
    </html>
}
